# Salesforce
.sf/
.sfdx/
.localdevserver/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
.idea/
.vscode/

# GitHub Pages / Jekyll output
docs/_site/
docs/.sass-cache/
.jekyll-cache/

# Local environment
.env
*.log
scripts/**

